.maindiv {

    width: 1580px;
    height: 686px;
    background: #1C2C44;
    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 92px;
}

.headingh41 {
    width: 863px;
    height: 44px;

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    margin-top: 64px;
}

.content1 {
    width: 863px;
    height: 30px;


    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #D0D5DD;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.btn1 {

    width: 154px;
    height: 60px;

    background: #FFFFFF;
    border-radius: 8px;
    color: #1C2C44;
}

.btn2 {

    width: 154px;
    height: 60px;

    background: linear-gradient(90deg, #AAF1CB 0%, #9ED6FC 54.69%, #F0EEFE 100%);
    border-radius: 8px;
    color: #1C2C44;

    margin-left: 12px;
}

.tempdiv1 {

    margin-top: 64px;
}


.line1 {
    width: 1216px;
    height: 1px;
    background: #687C95;
    margin-top: 64px;
}

.line2 {
    width: 1216px;
    height: 1px;
    background: #687C95;
    margin-top: 64px;
}


.logo {


    width: 174px;
    height:100px; 

    mix-blend-mode: lighten;
    margin-top: 84px;
    margin-bottom: -40px;
}

.content1 {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D0D5DD;
}



.list1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D0D5DD;
    list-style-type: none;
    align-items: center;
    margin-top: 58px;
}

.list1header {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #687C95;
    align-items: center;
}